/**
 * Vash - Dashboard for your media
 *
 * https://github.com/dawnerd/Vash
 * 
 * Nothing but head.
 */

#Header
  height: 50px;
  background: linear-gradient(top, $header-gradient-top, $header-gradient-bottom);
  box-shadow: 0 2px 5px $header-box-shadow;
  .logo a
    text-decoration: none
    font-family: 'Racing Sans One', cursive;
    color: $groundPepper;
    text-shadow: 0 1px 1px lighten($groundPepper, 90%)
    font-size: 50px;
    padding: 0 10px;