/**
 * Vash - Dashboard for your media
 *
 * https://github.com/dawnerd/Vash
 * 
 * Check out my utils.
 */

$white = rgb(255,255,255)

// http://www.colourlovers.com/palette/2373244/Curried_Salmon_10
$groundPepper = rgb(71,78,70)
$miso = rgb(31,21,20)
$saffron = rgb(148,39,18)
$barn = rgb(110,6,17)
$winterDay = rgb(174,179,183)

$body-background = rgba(9,12,31,.5)

$header-gradient-top = rgba(227,231,228,.75)
$header-gradient-bottom = rgba(193,201,195,.75)
$header-box-shadow = rgba(10, 10, 20, .5)