/**
 * Vash - Dashboard for your media
 *
 * https://github.com/dawnerd/Vash
 * 
 * Check out my utils.
 */

$white = #fff

$body-background = #090C1F

$header-gradient-top = rgb(50,50,80)
$header-gradient-bottom = rgb(30,30,60)
$header-box-shadow = rgba(10, 10, 20, .5)