/**
 * Vash - Dashboard for your media
 *
 * https://github.com/dawnerd/Vash
 * 
 * Check out my utils.
 */

.clearfix
  clearfix();

global-reset()
reset-html5()

// Disable iOS specific stuff.
*
  -webkit-touch-callout: none;