/**
 * Vash - Dashboard for your media
 *
 * https://github.com/dawnerd/Vash
 */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]),
[hidden] {
  display: none;
}
* {
  -webkit-touch-callout: none;
}
html {
  height: 100%;
}
body {
  height: 100%;
}
#Header {
  height: 50px;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(227,231,228,0.75)), color-stop(1, rgba(193,201,195,0.75)));
  background: -webkit-linear-gradient(top, rgba(227,231,228,0.75) 0%, rgba(193,201,195,0.75) 100%);
  background: -moz-linear-gradient(top, rgba(227,231,228,0.75) 0%, rgba(193,201,195,0.75) 100%);
  background: -o-linear-gradient(top, rgba(227,231,228,0.75) 0%, rgba(193,201,195,0.75) 100%);
  background: -ms-linear-gradient(top, rgba(227,231,228,0.75) 0%, rgba(193,201,195,0.75) 100%);
  background: linear-gradient(top, rgba(227,231,228,0.75) 0%, rgba(193,201,195,0.75) 100%);
  -webkit-box-shadow: 0 2px 5px rgba(10,10,20,0.5);
  box-shadow: 0 2px 5px rgba(10,10,20,0.5);
}
#Header .logo a {
  text-decoration: none;
  font-family: 'Racing Sans One', cursive;
  color: #474e46;
  text-shadow: 0 1px 1px #eceeec;
  font-size: 50px;
  padding: 0 10px;
}
